@charset "UTF-8";

html,body {
    width: 100%;
    font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", sans-serif;
    letter-spacing: 1.5px;
}

p {
    margin: 0 0 10px;
}
/* header */
.header{
    margin: 0 auto;
    width: 100%;
}

.header__content{
    display: flex;
    align-self: flex-end; /* 要素をそれぞれ下詰め */
    width: 1170px; /* ヘッダーの幅 */
    max-width: calc(100% - 20px); /* レスポンシブ：画面の大きさでヘッダーの最大幅が変化 */
    margin: 0 auto;
    padding: 20px 0;
}
.header__logo {
    width:128px;
}

.header__logo img{
    width:100%; /* 親要素に対して100%の幅 */
    margin-top: -6px;
}

.header__text{
    align-self: flex-end; /* 下詰め */
    margin-bottom: 10px; /* 横のロゴと高さを合わせたかったので */
    font-size: 12px;
    font-weight: 600;
}

.header__link{
    margin-left: auto; /* header__linkを右詰めにするためのマージン */
}
.header__link a{
    background-color: #da6b64;
    border-radius: 25px;
    display: flex; /* フレックスボックスを使用 */
    align-items: center; /* 縦方向の中央揃え */
    justify-content: center; /* 水平方向の中央揃え */
    padding: 11px 40px 11px; /* テキストを中央に持ってきたかったので */
    color: #fff;
    text-decoration: none;
    font-size: 12px;
    font-weight: 300;
}

/* header スマホ用 */
.doc__content{
    display: block;
    text-align: center;
    background-color: #da6b64;
}

.doc__content img{
    width: 20px;
}

.doc__content a{
    font-size: 12px;
    color: #fff;
}

/* main */
.main__content{
    width: 100%;
    
}

.bg__img{
    background-image: url(../img/main.jpg);
    background-position: center;
    background-size: cover;
    max-width: 100%;
    text-align: center;
    height: 500px;
    justify-content: center;
}

.bg__img-p{
    padding: 130px;
}

.p__text{
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    padding: 10px;
}

h1 p{
    font-size: 16px;
    font-weight: 600;
}

.sec__content{
    background-color: #ebb94d;
    padding: 30px 0;
    text-align: center;
}

.sec__content p{
    color: #fff;
}

.sec__content-contact{
    background-color: #da6b64;
    border-radius: 50px;
    color: #fff;
    cursor: pointer;
    margin: 10px 80px;
    padding: 25px 50px;
}

code{
    padding: 2px 4px;
    font-size: 90%;
    color: #c7254e;
    background-color: #f9f2f4;
    border-radius: 4px;
}

.p__text-first{
    font-size: 20px;
    font-weight: 300;
    margin: 0 0 10px;
}

.p__text-second{
    font-size: 20px;
    font-weight: 600;
    margin: 0 0 40px;
}

.sns__icon{
    margin-right: auto;
    margin-left: auto;
    justify-content: center;
}


.bg__introduction{
    background-image: url(../img/introbottom.jpg);
    background-position: center;
    background-size: cover;
    max-width: 100%;
    text-align: center;
    height: 587px;
    justify-content: center;
    padding: 40px 0;
}

.yellow__line{
    margin: 0 auto;
    position: relative;
    width: 860px;
    max-width: calc(100% - 40px);
    padding: 15px 0px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.yellow__line::before{
    top: 0;
    left: 0;
    border-top: 4px solid #ebb94d;
    border-left: 4px solid #ebb94d;
}

.yellow__line::after{
    bottom: 0;
    right: 0;
    border-bottom: 4px solid #ebb94d;
    border-right: 4px solid #ebb94d;
}

.yellow__line::before, .yellow__line::after {
    position: absolute;
    content: "";
    width: 50px;
    height: 50px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.introduction__text{
    font-size: 24px;
    font-weight: 600;
    line-height: 40px;
}

.introduction__content{
    padding: 40px 0;
}

.introduction__content p{
    font-size: 16px;
    font-weight: 200;
    margin: 0 0 50px;
    text-align: center;
}

.introduction__content span{
    font-weight: bold;
    background: linear-gradient(transparent 70%, #ebb94d 70%);
}

.about{
    text-align: center;
}

.about__circle{
    position: relative;
    top: -40px;
}

.about__circle p{
    color: #fff;
    background-color: #ebb94d;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    text-align: center;
    display: inline-block;
    padding: 0;
    margin: 0;
    line-height: 80px;
}

.curriculum__square{
    width: 1170px;
    max-width: calc(100% - 40px);
    margin: 30px auto;
    padding: 30px;
    background-color: #fff;
    border: 2px solid #ebb94d;
    border-radius: 5px;
    text-align: center;
}

.box{
    padding: 10px;
    display: inline-block;
}

.box img {
    height: 30px;
}

/* footer */
.sns__list {
    display: flex;
    margin: 20px 0;
    
}

.sns__content {
    display: flex;
    margin: 20px 0 50px;
    height: 0px;
}
