@charset "UTF-8";

html,body {
    width: 100%;
    font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", sans-serif;
    letter-spacing: 1.5px;
}

p {
    margin: 0 0 10px;
}
/* header */
.header{
    margin: 0 auto;
    width: 100%;
}

.header__content{
    display: flex;
    align-self: flex-end; /* 要素をそれぞれ下詰め */
    width: 1170px; /* ヘッダーの幅 */
    max-width: calc(100% - 20px); /* レスポンシブ：画面の大きさでヘッダーの最大幅が変化 */
    margin: 0 auto;
    padding: 20px 0;
}
.header__logo {
    width:128px;
}

.header__logo img{
    width:100%; /* 親要素に対して100%の幅 */
    margin-top: -6px;
}

.header__text{
    align-self: flex-end; /* 下詰め */
    margin-bottom: 10px; /* 横のロゴと高さを合わせたかったので */
    font-size: 12px;
    font-weight: 600;
}

.header__link{
    margin-left: auto; /* header__linkを右詰めにするためのマージン */
}
.header__link a{
    background-color: #da6b64;
    border-radius: 25px;
    display: flex; /* フレックスボックスを使用 */
    align-items: center; /* 縦方向の中央揃え */
    justify-content: center; /* 水平方向の中央揃え */
    padding: 11px 40px 11px; /* テキストを中央に持ってきたかったので */
    color: #fff;
    text-decoration: none;
    font-size: 12px;
    font-weight: 300;
}

/* header スマホ用 */
.doc__content{
    display: block;
    text-align: center;
    background-color: #da6b64;
}

.doc__content img{
    width: 20px;
}

.doc__content a{
    font-size: 12px;
    color: #fff;
}

/* main */
.main__content{
    width: 100%;
    
}

.bg__img{
    background-image: url(../img/main.jpg);
    background-position: center;
    background-size: cover;
    max-width: 100%;
    text-align: center;
    height: 500px;
    justify-content: center;
}

.bg__img-p{
    padding: 130px;
}

.p__text{
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    padding: 10px;
}

h1 p{
    font-size: 16px;
    font-weight: 600;
}

.sec__content{
    background-color: #ebb94d;
    padding: 30px 0;
    text-align: center;
}

.sec__content p{
    color: #fff;
}

.sec__content-contact{
    background-color: #da6b64;
    border-radius: 50px;
    color: #fff;
    cursor: pointer;
    margin: 10px 80px;
    padding: 25px 50px;
}

code{
    padding: 2px 4px;
    font-size: 90%;
    color: #c7254e;
    background-color: #f9f2f4;
    border-radius: 4px;
}

.p__text-first{
    font-size: 20px;
    font-weight: 300;
    margin: 0 0 10px;
}

.p__text-second{
    font-size: 20px;
    font-weight: 600;
    margin: 0 0 40px;
}

.sns__icon{
    margin-right: auto;
    margin-left: auto;
    justify-content: center;
}


.bg__introduction{
    background-image: url(../img/introbottom.jpg);
    background-position: center;
    background-size: cover;
    max-width: 100%;
    text-align: center;
    height: 587px;
    justify-content: center;
    padding: 40px 0;
}

.yellow__line{
    margin: 0 auto;
    position: relative;
    width: 860px;
    max-width: calc(100% - 40px);
    padding: 15px 0px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.yellow__line::before{
    top: 0;
    left: 0;
    border-top: 4px solid #ebb94d;
    border-left: 4px solid #ebb94d;
}

.yellow__line::after{
    bottom: 0;
    right: 0;
    border-bottom: 4px solid #ebb94d;
    border-right: 4px solid #ebb94d;
}

.yellow__line::before, .yellow__line::after {
    position: absolute;
    content: "";
    width: 50px;
    height: 50px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.curriculum p{
    padding-top: 30px;
}

.introduction__text{
    font-size: 24px;
    font-weight: 600;
    line-height: 40px;
}

.introduction__content{
    padding: 40px 0;
}

.introduction__content p{
    font-size: 16px;
    font-weight: 200;
    margin: 0 0 50px;
    text-align: center;
}

.introduction__content span{
    font-weight: bold;
    background: linear-gradient(transparent 70%, #ebb94d 70%);
}

.about{
    text-align: center;
    height: 0;
}

.about__circle{
    position: relative;
    top: -40px;
}

.about__circle p{
    color: #fff;
    background-color: #ebb94d;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    text-align: center;
    display: inline-block;
    padding: 0;
    margin: 0;
    line-height: 80px;
}

.bg__color{
    background-color: #fef5e0;
    padding: 60px;
}


.curriculum__square{
    width: 1170px;
    max-width: calc(100% - 60px);
    margin: 30px auto;
    padding: 30px;
    background-color: #fff;
    border: 2px solid #ebb94d;
    border-radius: 5px;
    text-align: center;
}

.curriculum__square p{
    padding: 0 0 30px;
    
}

.curriculum p{
    font-size: 16px;
    font-weight: 600;
    text-align: center;
}

.curriculum__text{
    font-size: 24px;
    font-weight: 600;
    text-align: center;
    line-height: 40px;
}

.box{
    padding: 10px;
    display: inline-block;
}

.box img {
    height: 30px;
}

.box p{
    margin-top: 10px;
    font-size: 12px;
    font-weight: 300;
}

.bg__img-content2{
    background-image: url(../img/aboutsecondbg.jpg);
    background-size: cover;
    background-position: center;
    padding: 40px 0;
    text-align: center;   
}

.content2__h2{
    color:#fff;
    font-weight: 600;
    padding-bottom: 30px;
}

.content2__p{
    color:#fff;
    font-size: 13px;
    padding-bottom: 10px;
    font-weight: 600;
}

.content2__p span{
    color: #ebb94d;   
}

.content__square-white{
    background-color: #fff;
    width: 30%;
    border-radius: 5px;
    margin: 20px auto;
    padding: 30px 40px 40px 40px;
    
}

.content__square-yellow{
    background-color: #ebb94d;
    border-radius: 5px;
    color: #fff;
    margin: 0 0 20px;
}

.content__title{
    font-size: 12px;
    font-weight: 600;
    padding-bottom: 20px;
}

.content__title2{
    font-size: 14px;
    font-weight: 600;
}


.bg__color-blue{
    text-align: center;
    background-color: #016ea9;
    color: #fff;
    height: 100px;
}

.bg__color-blue p{
    font-size: 16px;
    font-weight: 600;
    padding-top: 35px;
}

.bg__color-blue p span{
    color: #ebb94d;
}

.content3{
    text-align: center;
    padding: 40px 0;
}

.content3 h2{
    font-size: 24px;
    font-weight: 600;
    padding-bottom: 30px;
}

.content3 p{
    padding-bottom: 20px;
}


.content__skill{
    display: flex;
    margin: auto;
    justify-content: center;
}

.content__skill img{
    width: 180px;
    margin: 30px 15px;
}

.content3__p {
    font-size: 14px;
    font-weight: 600;
}

.bg__color-content{
    width: 100%;
    padding-top: 40px;
    background-color: #fef5e0;
    text-align: center;  
}

.yellow__line{
    padding-top: 20px;
}

.yellow__line-p1{
    font-size: 16px;
    font-weight: 600;
    
}

.yellow__line-p2{
    font-size: 30px;
    font-weight: 600;
    
}

.subcontent__list-flex{
    display: flex;
    justify-content: center;
    margin: 40px 60px;
}

.list__text-yellow{
    font-size: 16px;
    color: #ebb94d;
    text-align: center;
    margin: 10px;
    font-weight: 600;
}

.list__text-yellow2{
    margin-bottom: 20px;
}

.bg__color_white{
    background-color: #fff;
    margin: 30px;
    border: 2px solid #ebb94d;
    border-radius: 5px;
}

.bg__color_white-p{
    color: #ebb94d;
    padding: 30px;
    font-size: 24px;
    font-weight: 600;
}

.content__text-black{
    text-align: center;
    padding: 30px 50px;
    font-size: 12px;
    font-weight: 300;
}

.bg__color-text1{
    font-size: 16px;
    font-weight: 600;
    padding-bottom: 10px;
}

.bg__color-text2{
    font-size: 14px;
    font-weight: 600;
    padding-bottom: 30px;
}

.teacher{
    text-align: center;
    background-image: url(../img/teacherbg.jpg);
    padding: 50px;
    
}

.fa{
    font: normal normal normal 14px / 1 FontAwesome;
}

.fa-address-card-o::before{
    content: "\f2bc";
}

.teacher__midashi{
    padding: 30px;
}

.teacher__list-flex{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.teacher__colum{
    margin: 0 0;
}

.teacher__colum img{
    border-radius: 50%;
    position: relative;
    bottom: -30px;
}

.text_white{
    color: #fff;
    font-size: 14px;
}

.teacher i{
    color: #fff;
    font-size: 24px;
    font-weight: 600;
    margin-top: 30px;
}

.teacher__description{
    border: 4px solid #fff;
    padding: 30px;
    margin: 10px 10px;
}

.teacher__colum{
    /* width: 30%; */
    flex: 1;
}

.qa__section{
    background-color: #ebb94d;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    position: relative;
}

.qa_circle{
    background-color: #fff;
    border-radius: 50%;
    font-size: 20px;
    color: #ebb94d;
    height: 80px;
    width: 80px;
    margin: 0 auto;
}

.qa_circle p{
    color: #ebb94d;
    background-color: #fff;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    text-align: center;
    display: inline-block;
    padding: 0;
    margin: 0;
    line-height: 80px;
}

.line_white{
    margin: 0 auto;
    position: relative;
    width: 860px;
    max-width: calc(100% - 40px);
    padding: 15px 0px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.line_white::before{
    top: 0;
    left: 0;
    border-top: 4px solid #fff;
    border-left: 4px solid #fff;
}

.line_white::after{
    bottom: 0;
    right: 0;
    border-bottom: 4px solid #fff;
    border-right: 4px solid #fff;
}

.line_white::before, .line_white::after {
    position: absolute;
    content: "";
    width: 50px;
    height: 50px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.qa__text-white{
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    padding-top: 40px;
    padding-bottom: 30px;
}

.qa__section::after{
/* .qa__section-test{ */
    content: " ";
    position: absolute;
    border: 25px solid transparent;
    border-top-color: #ebb94d;
    height: 0px;
    width: 0px;
    left: 50%; /* 要素の左端が親要素の中央にくる */
    top: 100%;
    transform: translateX(-50%); /* 要素全体が自分の幅の50%だけ左に移動で中央へ */
}

.answer{
    text-align: center;
    margin: 50px auto; /* 左右のマージンをautoにして、要素を中央に寄せる */
    max-width: 1170px; /* 画面が大きいと広がるので要素の最大幅を指定 */
}

.answer p{
    padding-bottom: 30px;
}

.answer__list{
    max-width: calc(100% - 40px);
}

.anser__text-1{
    font-size: 24px;
    font-weight: 600;
}

.anser__text-2{
    font-size: 14px;
    font-weight: 600;
}

.anser__text-3{
    font-size: 12px;
    font-weight: 300;
    letter-spacing: 0;
}


.answer__list--items{
    display: flex;
    justify-content: center; /* 要素を中央に寄せると配置が近くなりますね */
    gap: 30px; /* 要素間の間隔をgapで広げてみましょう */
    padding-bottom: 30px;

}

.answer__list--items span{
    text-decoration: underline;
}

.answer__list--items p{
    width: 30%; /* テキストの幅を少し調整してやります */
    margin-top: 15px;
    margin-left: 10px;
    text-align: left;
    font-style: italic;
    color: #777;
    font-size: 18px;
}

.answer__list--items img{
    width: 20%; /* 画像の幅を少し調整 */
    border: solid;
    border-color: #ebb94d;
}

.description{
    background-image: url(../img/classbg.jpg);
    text-align: center;
    background-position: center;
    background-size: cover;
    padding-bottom: 50px;
}

.description_items{
    display: flex;
    justify-content: center;
    
}

.description_items-flex{
    background-color: #fff;
    border: 2px solid #016ea9;;
    margin: 15px;
    border-radius: 5px;
    
}

.description_items-flex li{
    padding: 10px 10px;
    border-bottom: 1px dotted #e5e5e5;
}

.description__text1{
    color: #fff;
    padding-top: 30px;
    font-size: 24px;
    font-weight: 600;
   
}

.description__text2{
    color: #fff;
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 14px;
    font-weight: 600;
}

.description__items-li{
    background-color: #016ea9;
    color: #fff;
}

.support{
    background-color: #016ea9;
    color: #fff;
    text-align: center;
    padding: 30px 30px;
}

.curriculum__flow{
    margin: 30px auto;
}

.curriculum__flow h2{
    text-align: center;
}

.curriculum__flow-img{
    text-align: center;
}

.curriculum__flow-content{
    display: flex;
    margin: 0 40px;
    background-color: #fef5e0;
    border-radius: 10px;
}

.curriculum__flow-item{
    padding: 30px 30px;
    
}

.curriculum__flow-item p{
    font-size: 18px;
    font-weight: 600;
}

.curriculum__flow-text{
    margin: 30px 30px;
    font-size: 14px;
    font-weight: 600;
    
}

.curriculum__flow-text p{
    margin: 20px;
}

.curriculum__flow-p{
    font-size: 12px;
    font-weight: 300;
}

.flow__line{
    text-align: center;
    
}

.inversion{
    transform: scale(-1, 1);
}

.why_hongkong{
    background-image: url(../img/bangkokbg.jpg);
}

.why_hongkong h2{
    font-size: 24px;
    padding-top: 40px;
    margin-bottom: 20px;
    letter-spacing: 3px;
    color: #fff;
}

.why_hongkong-p{
    font-size: 12px;
    font-weight: 300;
    letter-spacing: 0;
    color: #fff;
    padding-bottom: 20px;
}

.why_hongkong-text-p{
    padding-bottom: 40px;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
}

.why_hongkong-text{
    font-size: 14px;
    font-weight: 600;
    color: #fff;
    padding-bottom: 20px;
}

.present{
    background-color: #f7c23c;
    text-align: center;
}

.present_zero-circle{
    display: flex;
}

.present_zero-circletext{
    background-color: #fff;
    border-radius: 50%;
}


/* footer */
.sns__list {
    display: flex;
    margin: 20px 0;
    position: absolute;
}

.sns__content {
    display: flex;
    margin: 20px 0 50px;
    height: 0px;
}
