@charset "UTF-8";

.header{
    display: flex;
}

.header__logo{
    width: 120px;
    height: 40px;
    padding: 0px 581px 0px 230px;
}

.header__nav-list{
    list-style: none;
    display: flex;
    padding: 10px 0;
    text-align: center;
}

.header__nav-item {
    margin-left: 30px;
}